**
!package.json
!package-lock.json
!tsconfig.json
!next.config.ts
!next-env.d.ts
!postcss.config.mjs
!app/
!app/**
!components/
!components/**
!lib/
!lib/**
!public/
!public/**
**/.env*
**/profile.yaml
**/docs.local/**
